@media screen and (max-width: 1920px){
  .hidden-max-media{
    display: none;
  }
  .page-wrapper{
      padding-left: 220px;
  }
.first_row{
    display: inline-block;
    width:49%;
    height:140px;
  }
  .second_row{
    display: inline-block;
    width:49% ;
    height:140px;
  }
  .dash-col{
    width: 70%;
  }
  .dash-col2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    padding: 0 0 0 20px;
  }
  .dashboard{
    display: flex;
  }
  .courses_stat{
    width: 31% ;
  }

  .big_stat{
    width: 100% ;
  }
  .leveled_pie{
    width: 100%;
    height:265px;
    margin-top: 0px;
  }
  .mini_stat{
    width:100%;
    height:150px;
    margin-top: auto;
  }

  .admin_line{
    margin-top: 70px;
  }
  .student-number-text{
    width: 140px;
  }
  .leveled-pie-text{
  font-size: 20px;
  margin-top: -105px;
}
  .letniki_text{
    height: 14px;
    font-size: 20px;
    margin: -12px;
    margin-left: 43px;
    margin-top: 90px;
  }
  .time_stat{
    padding-top:20px;
    padding-left: 20px;
    font-size: 22px;
    height: 17px;

  }
  .number_big{
    font-size: 46px;
    height: 32px;
  }
  .day_big{
    height: 33px;
    font-size: 20px;
  }
  .pie_title{
    margin-left: 25px;
    height: 17px;
    font-size: 22px;
  }
   .pie_subtext{
    height: 13px;
    font-size: 18px;
    margin-right: -54px;
  }
    .course-title{
    font-size: 22px;
  }
  .dashboard_title{
    height: 35px;
    font-size: 41px;
  }
  .max_pie_chart{
    margin-top: 20px;
  }
  .tv_pie_chart{
    margin-top: 20px;
    margin-left: 45px;
  }
  .radialBar_tv{
    margin-left: 53px;
    margin-top: 20px;
  }
  .pie_menu{
    margin-top: -126px;
    margin-left: 165px;
  }
  ul.hr li{

    display: inline-block;
    font-size: 28px;
    padding: 20px;
  }
  /*.recharts-default-legend{
    margin-left: -57px;
  }*/
  .bar_menu_tv{

  }

  .profile-heading{
    width: 100%;
    height: 300px;
    float: right;
  }
  .teacher-home-max{
    display: flex;
    padding: 20px;
  }
  .teacher-statistics{
    width: 100%;
    float: left;
    padding: 0px;
  }
  /*.teacher-mini-profile{
    width: 45%;
    min-height: 400px;
  }*/
  .teacher-mini-profile{
    width: 49%;
    min-height: 400px;
  }
  .teacher-number-statistic{
    width: 100%;
    height: 150px;
    margin: 10px 0 0 0;
  }
  .teacher-common-statistic{
    height: 450px;
    width: 100%;
    margin: 20px 0;
    /*background-color: white;*/
  }
  .teacher-progress-statistic{
    width: 100%;
    height: 240px;
    padding: 30px 44px;
  }
  .teacher-courses-statistic{
    height: 350px;
    width: 100%;
    margin: 20px 0px;
    padding: 30px 44px;
  }
  .teacher-dash{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-between;
  }
  .visible-max{
    display: block;
  }
  .teacher-col2{
    width: 49%;
  }
  .teacher-col{
    width: 49%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 20px 0 0;
  }

  .my-content{
     margin-left: 220px;
  }
  .bg-title{
    margin: 0px 0 25px 220px;
  }
  .well-white{
    width: 220px;
  }
   .number-statistic-number{
    font-size: 70px;
  }
  .student_number_line{
    margin-top: 1px;
  }
  .snl{
    position: absolute;
    margin-left: 284px;

    margin-top: 8px;
  }
  .teacher-home-gpa{
    position: absolute;
    margin-top: 9px;
  }
   .courses-statistic-title{
    font-size: 24px;
  }
   .courses-statistic-text{
    font-size: 16px;
  }
  .teacher-common-statistic-text{
        font-size: 21px;
    margin-left: 46px;
  }
  .teacher_text_3{
    width: 10%;
  }
  .teacher-progress-bar{
      padding: 0px 18px 40px 40px;
  }
  .profile-heading1{
    display: flex;
    width: 514px;
    background-size: 172% 100%;
    float: right;
    height: 389px;
    margin-right: 17px;
  }
  .page-content {
     padding: 0px 0;
  }
  .student_courses_stat{
    padding-top: 12px;
  }
   .student_row{
    width: 66.66%;
    margin-top: -410px;
  }
  #main {
    width: 101%;
  }
  .student_gpa_title{
    font-size: 26px;
  }
  .student_line{
    margin-top: 59px;
    margin-left: 80px;
  }
  .student_max_score{
    font-size: 22px;
    padding-top: 30px;
    margin-left: 25px;
  }
  .student_pie_chart {
    margin-top: -184px;
    margin-left: 113px;
  }
  .student_gpa{
    font-size: 66px;
  }
  .student_gpa_title{
   font-size: 26px;
  }
  .student_courses_title{
    font-size: 26px;
  }
    .student_courses_subtitle{
      font-size: 20px;
  }
  .stud_pie {
    position: absolute;
    margin-top: -293px;
    margin-left: 103px;
  }
  .student_current_year{
    font-size: 26px;
  }
  .student_days_left{
    font-size: 20px;
  }
  .student_count_days_left {
    margin-top: 47px;
    width: 290px;
  }
  .stud_icons{
  width: 200px;
  font-size: 23px;
  }


}
@media screen and (max-width: 1400px){

  .page-wrapper{
      padding-left: 220px;
}
  .stud_icons{
  width: 120px;
  font-size: 12px;
  }
  .student_count_days_left {
    margin-top: 67px;
    width: 290px;
  }
  .student_days_left{
    font-size: 14px;
  }
  .student_current_year{
    font-size: 20px;
  }
  .stud_pie{
    margin-top: -282px;
    margin-left: -10px;
  }
  .student_courses_subtitle{
      font-size: 14px;
  }
  .student_courses_title{
    font-size: 20px;
  }
  .student_gpa_title{
   font-size: 20px;
  }

  .student_gpa{
    font-size: 60px;
  }
  .student_pie_chart{
  margin-top: -172px;
  margin-left: -12px;
  }
  .student_max_score{
    font-size: 16px;
    padding-top: 51px;
    margin-left: 25px;
  }
  .student_line{
  margin-top: 80px;
  margin-left: 5px;
}
  .student_gpa_title{
    font-size: 20px;
  }
  #main {
    width: 99%;
  }
  .student_courses_stat{
    padding-top: 0px;
  }
  .page-content1{
    padding-top: 18pc;
  }
  .page-content {
    padding: 20px 0;
  }
  .student_row{
    width: 100%;
    margin-top: 0px;
  }
  .profile-heading1{
    width: 100%;
    height: 265px;
    background-size: 100% 100%;
  }

  .teacher-progress-bar{
    padding: 40px 113px 40px 40px;
  }
  .teacher_text_3{
    width:125%;
  }
  .teacher-common-statistic-text{
    font-size: 16px;
  }
  .courses-statistic-text{
    font-size: 14px;
  }
  .courses-statistic-title{
      font-size: 20px;
  }
  .number-statistic-number{
    font-size: 60px;
  }
  .teacher-dash{
    display: block;
  }
  .visible-max{
    display: none;
  }
  .teacher-mini-profile{
    width: 30%;
    margin: 0 10px;
  }
.profile-heading{
  width: 100%;
  height: 300px;
}

  .admin_line{
    margin-top: 70px;
  }
  .student-number-text{
    width: 140px;
  }
  .leveled-pie-text{
  font-size: 20px;
  margin-top: -105px;
}
  .letniki_text{
    height: 14px;
    font-size: 20px;
    margin: -12px;
    margin-left: 43px;
    margin-top: 90px;
  }
  .time_stat{
    padding-top:20px;
    padding-left: 20px;
    font-size: 22px;
    height: 17px;

  }
  .number_big{
    font-size: 46px;
    height: 32px;
  }
  .day_big{
    height: 33px;
    font-size: 20px;
  }
  .pie_title{
    margin-left: 25px;
    height: 17px;
    font-size: 22px;
  }
   .pie_subtext{
    height: 13px;
    font-size: 18px;
    margin-right: -54px;
  }
    .course-title{
    font-size: 22px;
  }
  .dashboard_title{
    height: 35px;
    font-size: 41px;
  }
  .max_pie_chart{
    margin-top: 20px;
  }
  .tv_pie_chart{
    margin-top: 20px;
    margin-left: 45px;
  }
  .radialBar_tv{
    margin-left: 53px;
    margin-top: 20px;
  }
  .pie_menu{
    margin-top: -126px;
    margin-left: 165px;
  }
  ul.hr li{
    display: inline-block;
    font-size: 28px;
    padding: 20px;
  }

  .well-white{
     width: 220px;
  }
  .my-content{
     margin-left: 220px;
  }
  .bg-title{
     margin: 0px 0 25px 220px;
  }
  .visible-ipad{
    display: none;
  }
  .first_row{
    padding-top: 35px;
  }
  .dashboard_title{
    height: 33px;
    font-size: 35px;
  }
  .table-responsive{
     padding: 25px;
  }
  /*.recharts-default-legend{
    margin-left: -57px;
  }*/

}
@media screen and (max-width: 1400px){

  .visible-middle{
    display: block;
  }
  .hidden-middle{
    display: none;
}
  .bg-title{
     margin: 0px 0 25px 220px;
  .student_courses_title{
  font-size: 26px;
  }

  .profile-heading{
    background-image: url( /img/background-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
  }
  .courses_stat{
    height:201px;
    padding: 22px;
  }

}
@media screen and (max-width: 1400px){
  .dashboard_title{
    height: 33px;
    font-size: 35px;
  }

  .student_courses_title{
  font-size: 20px;
  }
  .student_gpa_title{
   font-size: 20px;
  }
     /* padding-top: 20pc;*/
  .profile-heading{
    width: 100%;
    height: 300px;
    background-image: url( /img/background-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    padding: 40px 0;
    flex-flow: row wrap;
  }
  ul.hr li{
    display: inline;
    padding: 15px;
    font-size: 14px;
  }
  .pie_menu{
    margin-top: -126px;
    margin-left: 120px;
     font-size: 16px;
  }
  .dashboard_title{
    height: 33px;
    font-size: 35px;
  }
  .course-title{
    font-size: 16px;
  }
  .pie_subtext{
    margin-left: -29px;
    height: 11px;
    font-size: 12px;
  }
  .pie_title{
    margin-left: 20px;
    height: 15px;
    font-size: 16px;
  }
  .day_big{
    height: 31px;
    font-size: 14px;
  }
  .number_big{
     font-size: 40px;
  height: 31px;
  }
  .time_stat{
    padding-top:20px;
    padding-left: 20px;
    font-size: 16px;
    height: 15px;
  }
  .letniki_text{
    height: 12px;
    font-size: 14px;
    margin: -12px;
    margin-left: 20px;
    margin-top: 66px;
  }
  .leveled-pie-text{
  font-size: 14px;

  margin-top: -135px;
}
  .student-number-text{
    width: 100%;
  }

.first_row{
  display: inline-block;
  width:49%;
  height:140px;
}
.second_row{
  display: inline-block;
  width:49%;
  height:140px;
}
.dash-col{
    width: 100%;
}
.dash-col2{
  display: none ;
}
.courses_stat{
  width: 21%;
  padding: 22px;
}
.big_stat{
  width:67%;
}

.leveled_pie{
  width: 31%;
  height:201px;
  margin-top: 20px;
}
.mini_stat{
  width:100%;
  height:118px;
  margin-top: 20px;
}
.teacher-home-max{
  display: block;
  padding: 0px;
}
.teacher-statistics{
  width: 100%;
  padding: 20px 10px;
}
.teacher-number-statistic{
  width: 48%;
  height: 250px;
  margin: 20px 10px;
}
.teacher-common-statistic{
  height: 450px;
  width: 66%;
  margin: 0 10px;
  /*background-color: white;*/
}
.teacher-progress-statistic{
  width: 28%;
  height: 340px;
  margin: 0 10px;
  padding: 30px 44px;
}
.teacher-courses-statistic{
  height: 340px;
  width: 68%;
  margin: 0 10px;
  padding: 30px 44px;
}
.teacher-col2{
  width: 100%;
}
.well-white{
   width: 220px;
}
.my-content{
   margin-left: 220px;
}
.first_row{
  padding-top: 35px;
}
.courses_stat{
  height:201px;
}
.table-responsive{
   padding: 25px;
}
}
@media screen and (max-width: 1200px){
  .dashboard_title{
    height: 33px;
    font-size: 35px;
  }
  .nav li ul{
    width: 259px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 59px;
    border-bottom: 1px solid #ebeeef;
    border-top: 1px solid #ebeeef;
    border-right: 1px solid #ebeeef;
  }
  .letniki_text {
    font-size: 13px;
    margin-top: 58px;
  }
  .page-wrapper{
      padding-left: 220px;
  }
  .bg-title{
     margin: 0px 0 0px 220px;
  }
  .dash-col2{
    display: none !important;
  }
  .well-white{
     width: 220px;
  }
  .my-content{
     margin-left: 220px;
  }
  .first_row{
    padding-top: 35px;
  }
  .courses_stat{
    height:201px;
    padding: 22px;
  }
  .table-responsive{
     padding: 25px;
  }
}
@media screen and (max-width: 1024px){
  .dashboard_title{
    height: 33px;
    font-size: 35px;
  }
  .page-wrapper{
      padding-left: 60px;
  }
  .time_stat{
    font-size: 14px;
  }
  .hidden-ipad{
    display: none;
  }
  .visible-ipad{
    display: block;
  }
  .bg-title{
     margin: 0px ;
  }
  .my-content{
     margin-left: 220px;
  }
  .dash-col2{
    display: none !important;
  }
  .well-white {
    background-color: #fff;
    top: 0px;
    width: 60px;
    height: 100%;
    min-height: 100%;
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 10;
    position: absolute;
    border: 0px;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 15px;
}
  .hide-menu{
    display: none!important;
    width: 180px;
    left: 60px;
  }
  .bg-title {
    background: #ffffff;
    padding: 1% 5% 1%;
    margin-bottom: 2%;
    right: 0;
    margin: 0px 0 25px 60px;
  }
  .my-content {
    padding: 0px 25px 15px 25px;
    margin-left: 60px;
    margin-bottom: 15px;
  }
  .teacher-mini-profile{
    width: 40%;
  }
  .teacher-number-statistic {
    width: 100%;
    height: 190px;
    margin: 0 10px;
  }
  .gridforipad{
    display: grid;
    width: 55%;
    margin-right: 20px;
    flex-flow: row wrap;
    margin-bottom: -20px;
  }
  .teacher-progress-statistic{
    margin-top: 20px;
    margin-right: 10px;
    width: 30%;
  }
  .teacher-courses-statistic{
    margin-top: 20px;
    width: 65%;
  }
  .number-statistic-number {
    font-size: 40px;
  }
  .number-statistic-percent {
    display: none;
  }
  .pie-chart-ipad{
    float: right;
  }
  .first_row{
    padding-top: 35px;
  }
  .courses_stat{
    height:201px;
    padding: 22px;
  }
  .table-responsive{
     padding: 25px;
  }
}
@media screen and (max-width: 768px ){
  .page-wrapper{
      padding-left: 60px;
  }
  .hidden-ipad{
    display: none;
  }
  .bg-title{
     margin: 0 0 15px 50px;
  }
  .dash-col2{
    display: none !important;
  }
  .my-content{
    margin-left: 50px;
  }
}
@media screen and (max-width: 480px){
  .course-title{
    margin: 0px;
  }
  .student-number-text{
    margin: 0px;
  }
  .dashboard_title{
    height: 33px;
    font-size: 21px;
  }
  .admin_line {
     margin-top: 0px;
  }
  .first_row{
    width: 100%;
    padding-top: 0px;
    height: 70px;
  }
  .second_row{
    width: 100%;
    padding-top: 0px;
    height: 70px;
  }
  .courses_stat{
    width: 100%;
    padding: 12px;
  }
  .dash-col2{
    display: none !important;
  }
  .hidden-mobile{
    display: none;
  }
  .visible-mobile{
    display: block;
  }
  .leveled_pie{
    width: 100%;
  }
  .course-title {
    font-size: 12px;
  }
  .student-number-text {
    font-size: 9px;
  }
  .courses_stat{
    height: 100px;
  }
  .table-responsive{
     padding: 9px;
  }
}
@media screen and (max-width: 320px){
  .dash-col2{
    display: none !important;
  }
}
