@media screen and (max-width: 1920px){
.first_row{
    display: inline-block;
    width:49%;
    height:140px;
  }
  .second_row{
    display: inline-block;
    width:49% ;
    height:140px;
  }
  .dash-col{
    width: 70%;
  }
  .dash-col2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    padding: 0 0 0 20px;
  }
  .hidden-max-media{
    display: none;
  }
  .dashboard{
    display: flex;
  }
  .courses_stat{
    width: 31% ;
  }

  .big_stat{
    width: 100% ;
  }
  .leveled_pie{
    width: 100%;
    height:265px;
    margin-top: 0px;
  }
  .mini_stat{
    width:100%;
    height:150px;
    margin-top: auto;
  }
  .profile-heading{
    width: 100%;
    height: 300px;
    float: right;
  }
  .teacher-home-max{
    display: flex;
    padding: 20px;
  }
  .teacher-statistics{
    width: 100%;
    float: left;
    padding: 0px;
  }
  /*.teacher-mini-profile{
    width: 45%;
    min-height: 400px;
  }*/
  .teacher-mini-profile{
    width: 49%;
    min-height: 400px;
  }
  .teacher-number-statistic{
    width: 100%;
    height: 150px;
    margin: 10px 0 0 0;
  }
  .teacher-common-statistic{
    height: 450px;
    width: 100%;
    margin: 20px 0;
    /*background-color: white;*/
  }
  .teacher-progress-statistic{
    width: 100%;
    height: 240px;
    padding: 30px 44px;
  }
  .teacher-courses-statistic{
    height: 350px;
    width: 100%;
    margin: 20px 0px;
    padding: 30px 44px;
  }
  .teacher-dash{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-between;
  }
  .visible-max{
    display: block;
  }
  .teacher-col2{
    width: 49%;
  }
  .teacher-col{
    width: 49%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 20px 0 0;
  }
}
@media screen and (max-width: 1400px){
  .teacher-dash{
    display: block;
  }
  .visible-max{
    display: none;
  }
  .teacher-mini-profile{
    width: 30%;
    margin: 0 10px;
  }
.profile-heading{
  width: 100%;
  height: 300px;
}
.first_row{
  display: inline-block;
  width:49%;
  height:140px;
}
.second_row{
  display: inline-block;
  width:49%;
  height:140px;
}
.dash-col{
    width: 100%;
}
.dash-col2{
  display: none ;
}
.courses_stat{
  width: 21%;
}
.big_stat{
  width:67%;
}
.hidden-max-media{
  display: block;
}
.leveled_pie{
  width: 31%;
  height:201px;
  margin-top: 20px;
}
.mini_stat{
  width:100%;
  height:118px;
  margin-top: 20px;
}
.teacher-home-max{
  display: block;
  padding: 0px;
}
.teacher-statistics{
  width: 100%;
  padding: 20px 10px;
}
.teacher-number-statistic{
  width: 48%;
  height: 250px;
  margin: 20px 10px;
}
.teacher-common-statistic{
  height: 450px;
  width: 66%;
  margin: 0 10px;
  /*background-color: white;*/
}
.teacher-progress-statistic{
  width: 28%;
  height: 340px;
  margin: 0 10px;
  padding: 30px 44px;
}
.teacher-courses-statistic{
  height: 340px;
  width: 68%;
  margin: 0 10px;
  padding: 30px 44px;
}
.teacher-col2{
  width: 100%;
}
}
@media screen and (max-width: 1200px){
  .dash-col2{
    display: none !important;
  }
}
@media screen and (max-width: 1024px){
  .dash-col2{
    display: none !important;
  }
  .well-white {
    background-color: #fff;
    top: 0px;
    width: 60px;
    height: 100%;
    min-height: 100%;
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 10;
    position: absolute;
    border: 0px;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 15px;
}
  .hide-menu{
    display: none;
    width: 180px;
    left: 60px;
  }
  .bg-title {
    background: #ffffff;
    padding: 1% 5% 1%;
    margin-bottom: 2%;
    right: 0;
    margin: 0px 0 25px 60px;
  }
  .my-content {
    padding: 0px 25px 15px 25px;
    margin-left: 60px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px ){
  .dash-col2{
    display: none !important;
  }
}
@media screen and (max-width: 480px){
  .dash-col2{
    display: none !important;
  }
}
@media screen and (max-width: 320px){
  .dash-col2{
    display: none !important;
  }
}
