@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,300,600,700);
This is for popins font for firefox
@font-face {
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
 unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
This is for popins font for firefox
@font-face {
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
 unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
This is for popins font for firefox
@font-face {
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'gothic';
  src: url('./gothic.eot');
  src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}

html {  height:100%;min-height:100% !important;margin:0;padding:0;   * see height, min-height values here. * }
body {
 overflow: scroll;
 padding:0;
 height:100%;
 min-height:100% !important;
 background: #EBEFF2;
 font-family: 'Poppins', sans-serif;
 margin: 0;
 overflow-x: hidden;
 color: #686868;
 font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 color: #2b2b2b;
 font-family: 'Poppins', sans-serif;
 margin: 10px 0;
 font-weight: 300;
}
h1 {
 line-height: 48px;
 font-size: 36px;
}
h2 {
 line-height: 36px;
 font-size: 24px;
}
h3 {
 line-height: 30px;
 font-size: 21px;
}
h4 {
 line-height: 22px;
 font-size: 18px;
}
h5 {
 font-size: 18px;
 font-size: 16px;
}
h5 {
 font-size: 16px;
 font-size: 14px;
}

.center-block{
 float:none
}
.main {
 position:relative;min-height:100%; height:auto;
}
.container{
 padding:0px;
 margin-bottom:50px;
 width: 100%;
}
.notAuthForm {
 background-color: #fff;
 padding-top: 15px;
 padding-bottom: 30px;
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 50px;
 box-shadow: 3px 3px 1px #DCDCDC;
}
.well-white{
 background-color: #fff;
 top: 0px;
 width: 220px;
 height:100%;
 min-height: 100%;
 background: #fff;
 box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
 z-index: 10;
 position: absolute;
 border: 0px;
 padding-top: 60px;
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 0;
 margin-left: 15px;
 /*padding-left: 3%;
 margin-top: -1%;
 padding-top: 6%;
 padding-bottom: 20%;
 padding-top: 60px;
 margin-left: -35px;*/

}
.admin-home{
 width: 88%;
 background-color: #fff;
}
.eachSubject{
 width: 32%;
 background: #fff;
}
.form-control {
 background-color: #ffffff;
 border: 1px solid #e4e7ea;
 border-radius: 0px;
 box-shadow: none;
 color: #565656;
 height: 38px;
 max-width: 100%;
 padding: 7px 12px;
 transition: all 300ms linear 0s;
}

.form-control:focus {
 box-shadow: none;
 border-color: #2b2b2b;
}

.form-group {
 margin-bottom: 25px;
}
.btn {
 border-radius: 0px;
}
.btn-login{
 background: #ab8ce4;
 border: 1px solid #ab8ce4;
 color: white;
}
.btn-login:hover,
.btn-login:focus,
.btn-login.focus {
 background: #ab8ce4;
 border: 1px solid #ab8ce4;
 color: white;
 opacity: 0.8;
}
.btn-login[disabled] {
 background: #ab8ce4;
 border: 1px solid #ab8ce4;
 color: white;
 opacity: .65;
}
.btn-login.active.focus,
.btn-login.active:focus,
.btn-login.active:hover,
.btn-login.focus:active,
.btn-login:active:focus,
.btn-login:active:hover,
.open > .dropdown-toggle.btn-login.focus,
.open > .dropdown-toggle.btn-login:focus,
.open > .dropdown-toggle.btn-login:hover,
.btn-login.focus,
.btn-login:focus {
 background-color: #ab8ce4;
 border: 1px solid #ab8ce4;
 color: white;
 opacity: 0.8;
}

.footer {
display:block;
position:absolute;
bottom:0;
left:0;
right: 0;
width:100%;
background:#fff;
color:#58666e;
padding:20px 30px;  * see position, top, left, and width properties here. *
}
.myheader {
 width: 100%;
 background: #191919;
 border: 0px;
}
.navbar-default {
 border: 0px;
}
.m-b-0 {
 margin-bottom: 0px !important;
 z-index: 1000;
}
.top-left-part {
 width: 220px;
 float: left;
}
.top-left-part a {
 color: #ffffff;
 font-size: 18px;
 padding-left: 0px;
}
.logo b {
 *********background:@themecolor;*********
 height: 60px;
 display: inline-block;
 width: 60px;
 line-height: 60px;
 text-align: center;
}
.waves-effect {
 position: relative;
 cursor: pointer;
 display: inline-block;
 overflow: hidden;
 color:  #54667a;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-tap-highlight-color: transparent;
}
.clearfix:before { clear:both; }
.clearfix { clear:both; overflow: hidden; :before, :after not recognized in all browsers. }
.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
* without border-box, AND with height 100%, any padding will likely expand the box beyond 100% in browsers like Mozilla. *
*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
.bg-title {
 background: #ffffff;
 padding: 1% 5% 1%;
 margin-bottom: 2%;
 right: 0;
 margin: 0px 0 0px 220px;
 /*min-height: 380px;
 position: inherit;
 */
}
.bg-title h4 {
 color: rgba(0, 0, 0, 0.5);
 font-weight: 600;
}
::-webkit-scrollbar {
   width: 0px;   remove scrollbar space
   background: transparent;  optional: just make scrollbar invisible
}
optional: show position indicator in red
::-webkit-scrollbar-thumb {
   background: #FF0000;
}
.my-content{

 padding: 0px 25px 15px 25px;
 margin-left: 220px;
 margin-bottom: 15px;
}
.add-content {
 padding: 2% 2% 2%;
}
.table-responsive {
 overflow-y: hidden;
 background-color: white;
 padding: 25px;
 margin-bottom: 15px;
 min-height: 350px !important;
}
.table {
 margin-bottom: 10px;
}
.table-striped > tbody > tr:nth-of-type(odd),
.table-hover > tbody > tr:hover,
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
 background-color: #f7fafc !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table-bordered {
 border-top: 1px solid #e4e7ea;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
 padding: 15px 8px;
}
.table > thead > tr > th {
 vertical-align: bottom;
 border-bottom: 1px solid #e4e7ea;
}
tbody {
 color: #797979;
}
th {
 color: #666666;
 font-weight: 500;
}
.white-box {
 background: #ffffff;
 padding: 25px;
 margin-bottom: 15px;
}
.white-box .box-title {
 margin: 0px 0px 12px;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 14px;
}
.m-t-10 {
 margin-top: 10px !important;
}
.m-b-20 {
 margin-bottom: 20px !important;
}
.m-r-10 {
 margin-right: 10px !important;
}
.m-l-10 {
 margin-left: 10px !important;
}
.b-r {
 border-right: 1px solid rgba(120, 130, 140, 0.13);
}
.btn-success,
.btn-success.disabled {
 background: #00c292;
 border: 1px solid #00c292;
}
.btn-success:hover,
.btn-success.disabled:hover,
.btn-success:focus,
.btn-success.disabled:focus,
.btn-success.focus,
.btn-success.disabled.focus {
 background: #00c292;
 opacity: 0.8;
 border: 1px solid #00c292;
}
.btn-rounded {
 border-radius: 60px;
}
.btn-default,
.btn-default.disabled {
 background: #e4e7ea;
 border: 1px solid #e4e7ea;
}
.btn-default:hover,
.btn-default.disabled:hover,
.btn-default:focus,
.btn-default.disabled:focus,
.btn-default.focus,
.btn-default.disabled.focus {
 opacity: 0.8;
 border: 1px solid #e4e7ea;
 background: #e4e7ea;
}
.btn-circle {
 width: 30px;
 height: 30px;
 padding: 6px 0;
 border-radius: 15px;
 text-align: center;
 font-size: 12px;
 line-height: 1.428571429;
}
.pull-right {
 float: right;
}
.btn-danger,
.btn-danger.disabled {
 background: #fb9678;
 border: 1px solid #fb9678;
}
.btn-danger:hover,
.btn-danger.disabled:hover,
.btn-danger:focus,
.btn-danger.disabled:focus,
.btn-danger.focus,
.btn-danger.disabled.focus {
 background: #fb9678;
 opacity: 0.8;
 border: 1px solid #fb9678;
}
.form-control {
 height: 38px;
 max-width: 100%;
 padding: 7px 12px;
 border:0px;
 border-bottom:1px solid #dcdcdc;
 border-radius: 0px;
 box-shadow: none;
 color: #565656;
 transition: all 300ms linear 0s;
}
.form-control:focus     {
 outline:none;
 box-shadow: none;
 border:0px;
}
.form-group label {
 font-weight: 400;
}
.mydatepicker:focus {
 outline:none;
 box-shadow: none;
 border-bottom:2px solid #9675ce;
}
BOTTOM BARS =================================
.bar   { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
 content:'';
 height:2px;
 width:0;
 bottom:1px;
 position:absolute;
 /*background:#9675ce;*/
 transition:0.2s ease all;
 -moz-transition:0.2s ease all;
 -webkit-transition:0.2s ease all;
}
.bar:before {
 left:50%;
}
.bar:after {
 right:50%;
}

active state
.form-control:focus ~ .bar:before, .form-control:focus ~ .bar:after {
 width:50%;
}
.btn-info{
 background: #03a9f3;
 border: 1px solid #03a9f3;
 color: white;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
 background: #03a9f3;
 border: 1px solid #03a9f3;
 color: white;
 opacity: 0.8;
}
.btn-info[disabled], .btn-info[disabled]:hover {
 background: #03a9f3;
 border: 1px solid #03a9f3;
 color: white;
 opacity: .65;
}
.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
 background-color: #4c5667;
 border: 1px solid #4c5667;
 color: #ffffff;
}
.fileinput {
 margin-bottom: 9px;
 display: inline-block;
}
.fileinput .form-control {
 padding-top: 7px;
 padding-bottom: 5px;
 display: inline-block;
 margin-bottom: 0px;
 vertical-align: middle;
 cursor: text;
}
.fileinput .btn {
 vertical-align: middle;
}
.fileinput-filename {
 vertical-align: middle;
 display: inline-block;
 overflow: hidden;
}
.form-control .fileinput-filename {
 vertical-align: bottom;
}
.fileinput.input-group {
 display: table;
}
.fileinput.input-group > * {
 position: relative;
 z-index: 2;
}
.fileinput.input-group > .btn-file {
 z-index: 1;
}
.input-group-addon {
 border-radius: 2px;
 border: 1px solid rgba(120, 130, 140, 0.13);
}
.btn-file {
 overflow: hidden;
 position: relative;
 vertical-align: middle;
}
.btn-file > input {
 position: absolute;
 top: 0;
 right: 0;
 margin: 0;
 opacity: 0;
 filter: alpha(opacity=0);
 font-size: 23px;
 height: 100%;
 width: 100%;
 direction: ltr;
 cursor: pointer;
 border-radius: 0px;
}

/* new */
.side-navbar{
 width: 100%;
 height: 100%;
}
.icons{
 width: 30px !important;
 height: 20px;
}
.fa-lg{
 font-size: inherit !important;
}
.nav-titles{
 width: 90px !important;
}
.navbar-header{
 width: 100%;
}
.bg-title{
 margin-bottom: 25px;
}
.teacher-img{
 width: 70px;
 height: 70px;
}
.subject-img{
 width: 100%;
 height: 200px;
}
.teacher-profile-img{
 width: 100%;
 height: 200px;
}
.user-bg{
 margin: -25px;
 height: 230px;
 overflow: hidden;
 position: relative;
}
.user-btm-box{
 padding: 40px 0 10px;
 clear: both;
 overflow: hidden;
}
.pointer{
 float: right;
 margin-top: 5px;
}
.icons{
 vertical-align: middle;
}
.customtab{
 border-bottom: 2px solid #f7fafc;
}
.customtab li a{
 color: black ;
}
.customtab li a:active{
 color: #03a9f3;
 border-bottom: 2px solid #03a9f3;
 background-color: #ffffff;
}
.customtab li a:focus{
 color: #03a9f3;
 border-bottom: 2px solid #03a9f3;
 background-color: #ffffff;
}
.customtab li a:hover{
 border-top:  none;
 border-left: none;
 border-right: none;
 border-bottom: inherit;
 background-color: inherit;
}

.tab-content{
 margin-top: 30px;
}
.text-muted {
   color: #8d9ea7;
}
.fa-lg{
 vertical-align: 0% !important;
}
.teacherInfo{
  height: 280px;
}
.page-wrapper{
  width: 100%;
  height: 100%;
  padding-left: 220px;
}
.profile-heading{
  background-image: url( /img/background-image.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  padding: 40px 0;
  flex-flow: row wrap;
}
.profile-heading1{
  background-image: url( /img/background-image.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px 0;
  flex-flow: row wrap;
}
.profile-heading:after{

}
.profile-heading-name{
  font-size: 50px;
  color:  black;
  font-family: 'Roboto',sans-serif;
  vertical-align: middle;
  padding: 50px 0;
}
/*.page-content{
  padding: 20px 0;
}*/
.profile-teacher-img{
  width: 121px;
  height: 121px;
}
.profile-teacher-name{
  color: #000000;
  font-family: "gothic";
  font-size: 20px;
  font-weight: 400;
}
.profile-teacher-btn{
  width: 150px;
  height: 35px;
  background-color: #5d8fce;
  border: none;
  border-radius: 5px;
  color: white;
}
.parentStudents{
  width: 100%;
}
.Select-input input{
  width: 100% !important;
}
/* new end */
.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.Select--multi .Select-multi-value-wrapper {
    display: inline-block;
}
.Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
}
.Select-input > input {
  width: 5px;
    box-sizing: content-box;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}
.Select-aria-only{
  display: none;
}
.Select-clear-zone{
  display: none;
}
.Select--multi .Select-multi-value-wrapper {
    display: flex;
}
.Select-value-icon{
  font-size: 27px;
}
.Select-value-label{
  font-size: 17px;
}
.Select-value{
  margin-right: 15px !important;
}
.homework-message{
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}
.homework-file{
  width: 60%;
  margin: 0 auto;
}
#success{
   text-align: center;
   color: green;
   display: none;
   margin-top: 15px;
}
 /*DASHBOARD*/
 .first_row{
   background-color: white;
   background-image: url(/img/teacher.jpg);
   background-repeat: none;
   background-size: cover;
   text-align: center;
   padding-top: 35px;


 }
 .second_row{
   background-color: white;
   background-image: url(/img/student.jpg);
   background-repeat: none;
   background-size: cover;
   padding-top: 35px;


 }
 .dash-col{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
 }

.dashboard_title{
  height: 33px;
  font-size: 35px;
  color: #ffffff;
  font-family: "gothic";
  font-weight: 400;
  margin:auto;
  }
.courses_stat{
  height:201px;
  background-color: white;
  margin-top: 20px;
  padding: 22px;
  text-align: initial;

  }
.leveled_pie{
  background-color: white;
}
.big_stat{
  height:340px;
  background-color: white;
  margin-top: 20px;
}
.mini_stat{
  background-color: white;

}
.progressbar-progress{
  border-radius: 15px;
  margin-top: 35px;

  text-align: left;

}

.time_stat{
  width: 100%;
  color: black;
  font-family: "gothic";
  font-weight: 400;
}
.mini_row{
  text-align: center;
  margin-top: 20px;
}
.number_big{
  color: #f05254;
  font-family: "gothic";
  font-weight: 400;


}
.day_big{
  color: #f05254;
  font-family: "gothic";
  font-weight: 400;
}
.bar_chart{
  margin-top: 40px;
  margin-left: -25px;

}
 ul {
 list-style-type: none;
 }
ul.hr {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
 }
ul.hr li {
  margin-right: 5px; /* Отступ слева */
  padding: 15px; /* Поля вокруг текста */
  float: right;
  font-family: "gothic";
  margin-top: 30px;
  }
.tech{
  height: 10px;
  width: 10px;
  margin:0;
  background-color: red;
  }
.pie_chart{
    top:-10px;
  margin-left: -90px;
}
.pie_text{
  float:left;
  margin-left: 22px;
  margin-top: 22px;
}
.pie_title{
  color: #000000;
  font-family: "gothic";
  font-weight: 400;
}
.pie_subtext{
  color: #808080;
  font-family: "gothic";
  font-weight: 400;
}

.progressbar-container{
  width: 190px;
  height: 7px;
}
.course-title{
  color: #000000;
  font-family: "gothic";
  font-weight: 400;
}
.student-number-text{
  color: #808080;
  font-family: "gothic";
  font-size: 12px;
  font-weight: 400;
  float: right;
  margin-bottom: 10px;
}
.rc-progress-line{

}
.progressbar-value{
  font-family: "gothic";
  font-size: 16px;
  font-weight: 400;
}
.leveled-pie-text{
  color: #000000;
  font-family: "gothic";
 
}
.recharts-layer path{

}
/*.recharts-surface{
  width: 300px;
    height: 150px;
}*/
.recharts-legend-wrapper{
  top: 60px !important;
}
.student-number{
  color: #000000;
  font-family: "gothic";
  font-size: 35px;
  font-weight: 400;
  float: right;
}

.mini_png{
  margin-right: 12px;
}
.letniki_text{
  /* Style for "Статистика" */
  font-family: "gothic";
  font-weight: 400;
  color: #000000;
  float: left;



}
.pie_menu{
  width: 200px;
 
}
.teacher-progress-bar{
  width: 33%;
  height: 100%;
}
.teacher-statistics{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.teacher-courses-statistic{
  background-color: #0b9eaf;
}
.teacher-progress-statistic{
  background-color: #f6ce72;
}
.number-statistic-title{
  color: #000000;
  font-family: "gothic";
  font-size: 20px;
  font-weight: 400;
}
.number-statistic-text{
  font-family: "gothic";
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.teacher-common-statistic-text{
  color: #000000;
  font-family: "gothic";
  font-weight: 400;
}
.teacher-heading-icons{
  width: 35px;
  height: 34px;
  float: left;
}
.teacher-heading-text{
  opacity: 0.7;
  color: #ffffff;
  font-family: "gothic";
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.teacher-heading-number{
  font-family: "gothic";
  font-size: 60px;
  font-weight: 400;
  color: #0f71bc;
  float: left;
}
.courses-statistic-text{
  color: #ffffff;
  font-family: "gothic";
  font-weight: 400;
}
.courses-statistic-title{
  color: #ffffff;
  font-family: "gothic";
  font-weight: 700;
}
.number-statistic-number{
  color: #cf4a4c;
  font-family: "gothic";
  font-weight: 400;
}
.number-statistic-percent{
  color: #303030;
  font-family: "gothic";
  font-size: 16px;
  font-weight: 400;
}
.students-number-color{
  width: 14px;
  height: 10px;
  margin: auto 0;
}
.number-subject-text{
  color: #ffffff;
  font-family: "gothic";
  font-size: 12px;
  font-weight: 400;
  margin: auto;
}
/*Student DASHBOARD*/
.profile-heading-name {
/* Style for "Университе" */
  text-align: center;
  height: 33px;
  color: #ffffff;
  font-family: "gothic";
  font-size: 35px;
  font-weight: 400;
  width: 100%;
}
.student_gpa_stat{
  height: 390px;
  background-color: white;
}
.student_courses_stat{
  height: 400px;

}
.student_ocenka_stat{
  width: 100%;
  height: 194px;
  background-color: #E14E50;
}
.student_gparechart_stat{
  height: 50%;
  width: 100%;
  background-color: white;

}
.student_credits_stat{
  width: 234pxc;
  height: 194px;
  background-color: white;
}
.student_daysleft_stat{
  height: 46%;
  width: 100%;
  background-color: white;
  margin-top: 20px
}
.student_row{

}
.student_attendance{
  margin-top: 20px;
  height: 395px;
  background-color: white;

}
.student_gpa_title{
  height: 19px;
  color: #ffffff;
  font-family: "gothic";
  font-weight: 400;
  padding-top: 25px;
  padding-left: 25px;
}

.students_courses_titles{
  padding-top: 25px;
  padding-left: 25px;
}
.student_courses_title{
  height: 19px;
  color: black;
  font-family: "gothic";

  font-weight: 400;

}
.student_courses_subtitle{
  height: 13px;
  color: #808080;
  font-family: "gothic";
  font-weight: 400;
}
.students_total_numbers{
  width: 150px;
  padding-left: 25px;
  padding-top: 63px;


}
.student_total_courses_title{
  height: 28px;
  color: #303030;
  font-family: "gothic";
  font-size: 14px;
  font-weight: 400;
}
.student_total_courses_subtitle{
  /* Style for "18" */
  width: 34px;
  height: 25px;
  color: #000000;
  font-family: "gothic";
  font-size: 35px;
  font-weight: 400;
  }
.student_max_score{
  height: 31px;
  color: #808080;
  font-family: "gothic";
  font-weight: 400;
}
.student_gpa{
  width: 113px;
  height: 45px;
  color: #e14e50;
  font-family: "gothic";
  font-weight: 400;
  margin-left: 25px;
  padding-top: 92px;
}
.student_total_gpa{
  font-family: "gothic";
  color: #d9d9d9;
  font-size: 45px;
  position: absolute;
    padding-top: 142px;
    padding-left: 216px;
}
.student_current_year{
  height: 17px;
  color: #000000;
  font-family: "gothic";
  font-weight: 400;
}
.student_days_left{
  /* Style for "До конца у" */
  height: 13px;
  color: #808080;
  font-family: "gothic";
  font-weight: 400;
}
.student_gpa_main_title{
  padding-top: 25px;
  padding-left: 25px;
}
.student_number{
/* Style for "263 дня" */
  width: 178px;
  height: 47px;
  color: #f2b91d;
  font-family: "gothic";
  font-weight: 400;
  font-size: 60px;

}
.student_days{
  width: 178px;
  height: 47px;
  color: #f2b91d;
  font-family: "gothic";
  font-weight: 400;
  font-size: 40px;
}
.student_progress_line{
  width: 320px;
  margin-top: 48px;
}

.student_mixed_title{
   /* Style for "Статистика" */
  height: 18px;
  color: #000000;
  font-family: "gothic";
  font-size: 20px;
  font-weight: 400;
}
.student_mixed_subtitle{
  /* Style for "За 2 месяц" */
  height: 12px;
  color: #808080;
  font-family: "gothic";
  font-size: 14px;
  font-weight: 400;
      padding-top: 10px;
}
.student_mixed_statistic{
  padding-top:25px;
  padding-left: 25px;
}
.stud_icons{
  float: right;
  height: 11px;
  color: #808080;
  font-family: "gothic";
  font-weight: 400;
  padding-top: 19px;
}
.student_row2{
  background-color: white;
  height: 200px;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
}
.student_table{
  margin-top: 20px;
  height: 500px;
  background-color: white;
  width: 49%;
  margin-left: 20px;
}
.student_table1{
  margin-top: 20px;
  height: 500px;
  background-color: white;
  width: 50%;
}
.moi_row{
  display: flex;
}
.mini{
  margin-top: 20px;
  background-color: white;
  height: 100px;
  width: 48%;
  margin-left: 15px;

}
.mini1{
  margin-top: 20px;
  width: 515px;
  margin-left: 20px;
  background-color: white;
  height: 100px;
}

#main {
   /* width: 100%;*/
    height: 200px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

#main div {
  margin-left: 20px;
  width: 48%;
  height: 500px;
  background-color:white;
}
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "gothic";
    font: normal 13px ;
    margin-top: 47px;
    margin-left: 20px;
}
.zui-table thead th {
    background-color: #E14E50;
    color: white;
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px #E14E50;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;

}
.zui-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}
.student_today{
  height: 16px;
  color: #000000;
  font-family: "gothic";
  font-size: 20px;
  font-weight: 400;
  padding-top: 25px;
  padding-left: 25px;
}
.student_main_info{
  text-align: left
}
.student_name_main{
  /* Style for "Факультет:" */
  width: 268px;
  height: 30px;
  color: #4f4f4f;
  font-family: "gothic";
  font-size: 14px;
  font-weight: 700;
}
.student_name_main1{
  /* Style for "Факультет:" */
  width: 268px;
  height: 30px;
  color: #4f4f4f;
  font-family: "gothic";
  font-size: 14px;
  font-weight: 400;
}
.teacher-home-gpa{
  color: #ffffff;
  font-family: "gothic";
  font-size: 67px;
  font-weight: 400;
}
.projectCard-1{
  background:#F0FFF0;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  font-size: 13px;
  text-align: left;
  min-height: 25px;
}
.project{
  line-height: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  width: 15%;
}
.ondrop-subject{
  width: 100%;
  height:50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  background: #FFFAF0;
}
.ondrop-group{
  width: 100%;
  height:50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  background: #F0FFFF;
}
.dragable{
  background: #FA8072;
  border-radius: 5px;
  text-align: center;
}
.PowderBlue{
  background: #B0E0E6;
}
.SkyBlue {
  background: #87CEEB;
}
.Violet {
  background: #EE82EE;
}
.Orchid {
  background: #DA70D6;
}
/*.pie-charts{
  display: flex-root;
  width: 31%;
  margin-top: 20px
}*/
